@import "../constants/colors";

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $text-invert;
    height: 100px;
    z-index: 1000;

    .link-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .link {
        padding: 0 3%;
        &:hover {
            color: $hover;
        }
    }

    .title {
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        background-color: $text-invert;
        margin: 0;
    }
}