@import "../constants/colors";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $text-invert;

    .link {
        padding: 0 3%;
        &:hover {
            color: $text-secondary;
        }
    }

    .title {
        position: fixed;
        top: 40px;
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        background-color: $text-invert;
        margin: 0;
        padding: 1em 0;
        padding-bottom: 1.9em;
    }
}