$text-primary: #060626;
$text-secondary: #66667F;
$text-tertiary: #B0B0C6;
$text-invert: #FFFFFF;
$surface-lines: #D8DAE6;
$surface-back: #F0F1F5;

$card: #3c3e44;
$alive: #73cc46;
$unknown: #9e9e9e;
$dead: #d63d2f;

$hover: #FFAB3D;

$shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
